@font-face {
    font-family: 'dosisregular';
    src: url('dosis-regular-webfont.woff2') format('woff2'),
         url('dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'dosislight';
    src: url('dosis-light-webfont.woff2') format('woff2'),
         url('dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	color: #777;
	font-family: 'open_sanslight', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}

/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

.row::after {
	content: '';
	clear: both;
	display: block;
}

.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1 {
	width: 8.333333333%
}

.col-2 {
	width: 16.666666667%
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.333333333%
}

.col-5 {
	width: 41.666666667%
}

.col-6 {
	width: 50%
}

.col-7 {
	width: 58.333333333%
}

.col-8 {
	width: 66.666666667%
}

.col-9 {
	width: 75%
}

.col-10 {
	width: 83.333333333%
}

.col-11 {
	width: 91.666666667%
}

.col-12 {
	width: 100%
}
/* Grid layout end */

/* Default classes start */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bg-black {
	background-color: #111;
}
/* Default classes end */

/* Default component start */
.default-section {
	padding: 135px 0;
}

.small-section {
	padding: 70px 0;
}

.btn {
	font-family: 'open_sansregular', sans-serif;
	letter-spacing: .2em;
	text-transform: uppercase;
	border-radius: 2px;
}

.btn-default {
	font-size: .86666666666rem;
	background-color: black;
	color: white;
	padding: 13px 21px;
}

.btn-large {
	font-size: .93333333333rem;
	background-color: rgba(207, 207, 207, .8);
	color: black;
	padding: 13px 40px;
}

.btn-small {
	 font-size: .73333333333rem;
	 background-color: #e5e5e5;
	 color: #777;
	 padding: 9px 15px;
}

.title {
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: normal;
	margin-bottom: 75px;
}

.title.title-light {
	font-family: 'dosislight', sans-serif;
	letter-spacing: .3em;
	line-height: 26px;
	color: #fff;
}

.title.title-dark {
	font-family: 'dosisregular', sans-serif;
	letter-spacing: .5em;
	color: #111;
}

.advantage-icon {
	font-size: 3.2rem;
}

.blockquote-text {
	font-size: 1.6rem;
	line-height: 38px;
}

.blockquote-name {
	font-family: 'open_sansregular', sans-serif;
	font-size: .73333333333rem;
	line-height: 38px;
	letter-spacing: .2em;
}

.default-text {
	font-family: 'open_sanslight', sans-serif;
	line-height: 26px;
}

.advantage-title {
	font-family: 'dosisregular', sans-serif;
	font-size: .93333333333rem;
	letter-spacing: .4em;
	text-transform: uppercase;
}

.advantage-text {
	font-size: .93333333333rem;
}
/* Default component end */

/* Custom style start */
/* ===== Header start ===== */
.header-container {
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	z-index: 999;
	overflow: hidden;
	padding: 32px 24px;
}

.header-logo {
	float: left;
}

.header-nav {
	float: right;
}

.header-nav li {
	float: left;
	font-family: 'open_sansregular', sans-serif;
	font-size: .73333333333rem;
	letter-spacing: .3em;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .75);
}

.header-nav li + li {
	margin-left: 35px;
}

.inner {
	background: url('../img/bg-img.jpg') no-repeat center / cover;
	height: 100vh;
	position: relative;
}

.inner-content {
    display: inline-block;
	text-align: center;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-top: 88px;
}

.inner-title {
	font-family: 'dosis_regular', sans-serif;
	font-size: 2rem;
	letter-spacing: 1.7em;
	text-transform: uppercase;
	color: rgba(254, 254, 254, .9);
	font-weight: 100;
	text-indent: 1.7em;
}

.inner-subtitle {
	font-family: 'open_sanslight', sans-serif;
	font-size: 1.26666666667rem;
	color: rgba(254, 254, 254, .68);
	margin-top: 101px;
}
/* ===== Header end ===== */

/* ===== About studio start ===== */
.about-studio {
	border-bottom: 1px solid rgba(236, 236, 236, .8);
}

.about-studio .row + .row {
	margin-top: 100px;
}

.team-item-info span {
	display: block;
	text-transform: uppercase;
	letter-spacing: .4em;
	font-family: 'dosisregular', sans-serif;
}

.team-item-name {
	margin-top: 31px;
}

.team-item-role {
	font-size: .8rem;
	margin-top: 17px;
}
/* ===== About studio end ===== */

/* ===== Services start ===== */
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}

.services-tab ul li {
	float: left;
	width: 20%;
	text-align: center;
}

.services-tab ul li.ui-state-active {
	color: black;
}

.services-tab ul li span {
	display: block;
}

.services-tab ul li a span:last-child {
	margin-top: 30px;
}
/* ===== Services end ===== */

/* ===== Lets talk start ===== */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}

.lets-talk-img {
	margin-top: -32px;
}

.lets-talk h3 {
	margin-bottom: 28px;
}

.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
	margin-bottom: 40px;
}
/* ===== Lets talk end ===== */

/* ===== Portfolio start ===== */
.default-section.portfolio {
	padding-bottom: 0;
}
.portfolio p {
	padding: 0 210px;
	margin-bottom: 85px;
}

.portfolio-tab {
	text-align: center;
}

.portfolio-tab ul li {
	float: left;
	width: 25%;
	text-align: center;
	margin-bottom: 50px;
	color: rgba(0, 0, 0, .5);
}

.portfolio ul li.ui-state-active {
	color: black;
}

.portfolio-item {
	display: inline-block;
	max-width: 33.3333%;
	padding: 4px;
}
/* ===== Portfolio end ===== */

/* ===== Like our works start ===== */
.like-our-works h3 {
	margin-bottom: 25px;
}

.container-fluid {
	text-align: center;
}
/* ===== Like our works end ===== */

/* =====Why choose us start ===== */
.why-choose-us .row + .row {
	margin-top: 80px;
}

.why-choose-us h6 {
	padding: 35px 0;
}
/* =====Why choose us end ===== */

/* ===== Reviews start ===== */
.reviews-carousel {
	padding: 140px 0;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.slick-arrow.slick-prev {
	left: 0;
}

.slick-arrow.slick-next {
	right: 0;
}

.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}

.slick-dots li {
	display: inline-block;
	vertical-align: bottom;
}

.slick-dots li + li {
	margin-left: 5px;
}

.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}

.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}
/* ===== Reviews end ===== */
/* Custom style end */









