@font-face {
    font-family: 'dosisregular';
    src: url('dosis-regular-webfont.woff2') format('woff2'),
         url('dosis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'dosislight';
    src: url('dosis-light-webfont.woff2') format('woff2'),
         url('dosis-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.woff2') format('woff2'),
         url('opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	font-size: 15px;
}

body {
	margin: 0;
	color: #777;
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}
button {
	outline: none;
	border: none;
	cursor: pointer;
}
/* Grid layout start */
.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: auto;
}

.container-fluid {
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

.row::after {
	content: '';
	clear: both;
	display: block;
}

.col {
	float: left;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;
}

.col-1 {
	width: 8.333333333%
}

.col-2 {
	width: 16.666666667%
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.333333333%
}

.col-5 {
	width: 41.666666667%
}

.col-6 {
	width: 50%
}

.col-7 {
	width: 58.333333333%
}

.col-8 {
	width: 66.666666667%
}

.col-9 {
	width: 75%
}

.col-10 {
	width: 83.333333333%
}

.col-11 {
	width: 91.666666667%
}

.col-12 {
	width: 100%
}
/* Grid layout end */
/* Default classes start */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.bg-black {
	background-color: #111;
}
/* Default classes end */
/* Default component start */
.default-section {
	padding: 135px 0;
}

.btn {
	font-family: 'open_sansregular', sans-serif;
	letter-spacing: .2em;
	line-height: 1.73333333333em;
	text-transform: uppercase;
	border-radius: 2px;
}

.btn-default {
	font-size: .86666666666rem;
	background-color: black;
	color: white;
	padding: 13px 21px;
}

.btn-large {
	font-size: .93333333333rem;
	background-color: rgba(207, 207, 207, .8);
	color: black;
	padding: 15px 40px;
}

.btn-small {
	 font-size: .73333333333rem;
	 background-color: #e5e5e5;
	 color: #777;
	 padding: 9px 15px;
}

.title {
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #111;
	letter-spacing: .5em;
	font-weight: normal;
	margin-bottom: 75px;
}

.title.title-light {
	font-family: 'dosislight', sans-serif;
	letter-spacing: .3em;
}

.title.title-white {
	color: #fff;
}

.advantage-icon {
	font-size: 49px;
}
/* Default component end */
/* Custom style start */
/* ===== About studio start ===== */
.about-studio .row + .row {
	margin-top: 100px;
}

.team-item-info span {
	display: block;
}
/* ===== About studio end ===== */
/* ===== Services start ===== */
.services-tab ul {
	overflow: hidden;
	margin-bottom: 70px;
}

.services-tab ul li {
	float: left;
	width: 20%;
	text-align: center;
}

.services-tab ul li.ui-state-active {
	color: red;
}

.services-tab ul li span {
	display: block;
}

.services-tab ul li a span:last-child {
	margin-top: 30px;
}
/* ===== Services end ===== */
/* ===== Lets talk start ===== */
.lets-talk-wrapper {
	padding-top: 140px;
	padding-bottom: 140px;
}

.lets-talk-img {
	margin-top: -32px;
}

.lets-talk .default-text {
	color: rgba(255, 255, 255, .7);
}
/* ===== Lets talk end ===== */
/* ===== Reviews start ===== */
.reviews-carousel {
	padding: 140px 0;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.slick-arrow.slick-prev {
	left: 0;
}

.slick-arrow.slick-next {
	right: 0;
}

.slick-dots {
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	line-height: 0;
}

.slick-dots li {
	display: inline-block;
	vertical-align: bottom;
}

.slick-dots li + li {
	margin-left: 5px;
}

.slick-dots li button {
	color: transparent;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #ccc;
	background-color: #ccc;
}

.slick-dots li.slick-active button {
	background-color: transparent;
	width: 9px;
	height: 9px;
}

/* ===== Reviews end ===== */
/* Custom style end */









